@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #2563EB;
  --text-black: #000000;
  --text-gray: #4A4A4A;
  --background: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--text-gray);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply text-black;
  }
}
